@page "/repl/{snippetId?}"

@layout MainLayout

<nav class="navbar repl-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Blazor REPL</a>
            <button @onclick="@CompileAsync" class="btn btn-link nav-action" disabled="@Loading" title="Run (Ctrl+S)">
                <i class="icon-play4"></i> RUN
            </button>
            <button @onclick="@TogglePackageManagerAsync" class="btn btn-link nav-action" disabled="@Loading" title="Show Package Manager">
                <img src="./img/nuget-logo.png" alt="NuGet logo" class="nuget-package-image" /> PACKAGES
                @if (PackagesCount > 0)
                {
                    @: (@PackagesCount)
                }
            </button>
            <button @onclick="@ShowSaveSnippetPopup"
                    class="btn btn-link nav-action"
                    id="save-snippet-btn"
                    disabled="@Loading"
                    title="Save public snippet">
                <i class="icon-floppy-disk"></i> SAVE
            </button>
        </div>
    </div>
</nav>

<SaveSnippetPopup @bind-Visible="@SaveSnippetPopupVisible"
                  InvokerId="save-snippet-btn"
                  CodeFiles="@CodeFiles.Values"
                  InstalledPackages="@InstalledPackages"
                  UpdateActiveCodeFileContentAction="UpdateActiveCodeFileContent"></SaveSnippetPopup>

<div class="row flex m-0">
    <ReplLoader Show="@Loading"
                Message="@LoaderText"></ReplLoader>

    <PackageManager @ref="@PackageManagerComponent"
                    @bind-Loading="@Loading"
                    Visible="@PackageManagerVisible"
                    VisibleChanged="HandlePackageManagerVisibleChangedAsync"
                    UpdateLoaderTextFunc="UpdateLoaderTextAsync"
                    PackagesToRestore="PackagesToRestore"
                    SessionId="@SessionId"></PackageManager>

    <div class="flex @SplittableContentContainerClass">
        <div id="user-code-editor-container">
            <TabManager Tabs="@CodeFileNames"
                        ActiveTab="@CodeEditorPath"
                        OnTabActivate="@HandleTabActivate"
                        OnTabClose="@HandleTabClose"
                        OnTabCreate="@HandleTabCreate"
                        OnScaffoldStartupSettingClick="@HandleScaffoldStartupSettingClick"></TabManager>

            <CodeEditor @ref="@CodeEditorComponent"
                        Code="@CodeEditorContent"
                        CodeFileType="@CodeFileType"></CodeEditor>
        </div>
        <div id="user-page-window-container">
            <iframe id="user-page-window" src="/user-page"></iframe>
        </div>
    </div>
</div>

<ErrorList @bind-Show="@AreDiagnosticsShown"
           Diagnostics="@Diagnostics"></ErrorList>
