@page "/repl/{snippetId?}"

@layout MainLayout

<nav class="navbar repl-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Blazor REPL</a>
            <button @onclick="@CompileAsync" class="btn btn-link nav-action" disabled="@ShowLoader" title="Run (Ctrl+S)">
                <i class="icon-play4"></i> RUN
            </button>
            <button @onclick="@ShowSaveSnippetPopup"
                    class="btn btn-link nav-action"
                    id="save-snippet-btn"
                    disabled="@ShowLoader"
                    title="Save public snippet">
                <i class="icon-floppy-disk"></i> SAVE
            </button>
        </div>
    </div>
</nav>

<SaveSnippetPopup @bind-Visible="@SaveSnippetPopupVisible"
                  InvokerId="save-snippet-btn"
                  CodeFiles="@CodeFiles.Values"
                  InstalledPackages="@InstalledPackages"
                  StaticAssets="@StaticAssets"></SaveSnippetPopup>

<div class="row flex m-0">
    <ReplLoader Show="@ShowLoader"
                Message="@LoaderText"></ReplLoader>

    <div>
        <ActivityManager OnActivityToggle="HandleActivityToggleAsync"></ActivityManager>

        <PackageManager @ref="PackageManagerComponent"
                        @bind-ShowLoader="@ShowLoader"
                        UpdateLoaderTextFunc="UpdateLoaderTextAsync"
                        Visible="@PackageManagerVisible"
                        PackagesToRestore="PackagesToRestore"
                        SessionId="@SessionId"></PackageManager>

        <StaticAssetManager Visible="@StaticAssetManagerVisible"
                            Scripts="StaticAssets.Scripts"
                            Styles="StaticAssets.Styles"
                            SessionId="@SessionId"></StaticAssetManager>
    </div>

    <div class="flex @SplittableContainerClass">
        <div id="user-code-editor-container">
            <TabManager Tabs="@CodeFileNames"
                        ActiveTab="@CodeEditorPath"
                        OnTabActivate="@HandleTabActivate"
                        OnTabClose="@HandleTabClose"
                        OnTabCreate="@HandleTabCreate"
                        OnScaffoldStartupSettingClick="@HandleScaffoldStartupSettingClick"></TabManager>

            <CodeEditor @ref="@CodeEditorComponent"
                        Code="@CodeEditorContent"
                        CodeFileType="@CodeFileType"></CodeEditor>
        </div>
        <div id="user-page-window-container">
            <iframe id="user-page-window" src="/user-page"></iframe>
        </div>
    </div>
</div>

<ErrorList @bind-Show="@AreDiagnosticsShown"
           Diagnostics="@Diagnostics"></ErrorList>
