<div class="activity-manager @ActivityVisibleClass">
    <div class="activity-options-wrapper">
        <div class="activity-option @PackageManagerActivityActiveClass" @onclick="@(() => TogglePackageManagerAsync())">
            <img src="./img/nuget-logo.png" alt="NuGet logo" class="nuget-package-image">
        </div>
        <div class="activity-option @StaticAssetManagerActivityActiveClass" @onclick="@(() => ToggleStaticAssetManagerAsync())">
            <span class="icon-files-empty"></span>
        </div>
    </div>

    <PackageManager @ref="PackageManagerComponent"
                    ShowLoader="@ShowLoader"
                    ShowLoaderChanged="@ShowLoaderChanged"
                    @bind-Visible="@PackageManagerVisible"
                    UpdateLoaderTextFunc="UpdateLoaderTextAsync"
                    PackagesToRestore="PackagesToRestore"
                    SessionId="@SessionId"></PackageManager>

    <StaticAssetManager @bind-Visible="@StaticAssetManagerVisible"
                        Scripts="StaticAssets"
                        SessionId="@SessionId"></StaticAssetManager>
</div>
