<div class="activity-bar">
    <div class="activity-option @PackageManagerActivityActiveClass"
         @onclick="@(() => TogglePackageManagerActivityAsync())"
         title="Package Manager">

        @if (PackagesCount > 0)
        {
            <span class="packages-count-label">@PackagesCount</span>
        }

        <img src="./img/nuget-logo.png" alt="NuGet logo" class="nuget-package-image">
    </div>
    <div class="activity-option @StaticAssetManagerActivityActiveClass"
         @onclick="@(() => ToggleStaticAssetManagerActivityAsync())"
         title="Static Asset Manager">

        <span class="activity-icon icon-files-empty"></span>
    </div>
</div>
