<div id="nuget-package-installer-popup"
     class="toast nuget-package-installer-popup @VisibleClass"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
     style="@DisplayStyle">
    <div class="toast-header">
        <h4 class="m-auto">Nuget Package Installer</h4>
    </div>

    <input @bind="@NugetPackageName" class="form-control" />
    <button class="btn btn-primary" @onclick="@GetNugetPackages">Search</button>

    @if (string.IsNullOrEmpty(SelectedNugetPackageName))
    {
        @foreach (var nugetPackage in NugetPackages)
        {
            <button class="btn-link" @onclick="@(() => SelectNugetPackage(nugetPackage))">@nugetPackage</button>
        }
    }
    else
    {
        <label for="version-select">Version</label>
        <select id="version-select" @bind="@SelectedNugetPackageVersion">
            @foreach (var version in NugetPackageVersions)
            {
                <option value="@version">@version</option>
            }
        </select>

        <button class="btn btn-primary" @onclick="@InstallNugetPackage">Install</button>

    }


</div>