<div id="nuget-package-installer-popup"
     class="toast nuget-package-installer-popup @VisibleClass"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
     style="@DisplayStyle">
    <div class="toast-header" style="margin-bottom: 20px">
        <h4 class="m-auto">Nuget Package Installer</h4>
    </div>

    <input @bind="@NugetPackageName" class="form-control" style="width:72%; display: inline-block; margin-bottom: 10px;" />
    <button class="btn btn-primary" @onclick="@GetNugetPackages" style="width:25%">Search</button>

    @if (string.IsNullOrEmpty(SelectedNugetPackageName))
    {
        @foreach (var nugetPackage in NugetPackages)
        {
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 2px; ">
                <span style="font-weight:bold">@nugetPackage</span>
                <button class="btn btn-primary" @onclick="@(() => SelectNugetPackage(nugetPackage))">Install</button>
            </div>
        }
    }
    else
    {
        <label for="version-select">Version</label>
        <div>
            <select class="form-control" id="version-select" @bind="@SelectedNugetPackageVersion" style="width: 72%; display: inline-block; height:37px;">
                @foreach (var version in NugetPackageVersions)
                {
                    <option value="@version">@version</option>
                }
            </select>
            <div style="width:25%; display: inline-block;">
                <button class="btn btn-primary" @onclick="@InstallNugetPackage">Install</button>
            </div>
        </div>
    }
</div>
