<div class="nuget-sidebar" style="width: 20%; padding: 8px;">
    <div class="toast-header" style="margin-bottom: 20px">
        <h4 class="m-auto">Package Manager</h4>
    </div>

    <PackageLicensePopup Visible="@LicensePopupVisible"
                         PackagesToAcceptLicense="@PackagesToAcceptLicense"
                         OnAccept="@InstallNuGetPackageAsync"
                         OnDecline="@DeclineLicense"></PackageLicensePopup>

    @if (PackagePendingRestore?.Any() ?? false)
    {
        @foreach (var package in PackagePendingRestore)
        {
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 2px;">
                <span class="font-weight-bold" style="overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 250px" title="@package.Name">@package.Name</span>
                <span>@package.Version</span>
            </div>
        }

        <button class="btn btn-br-primary" @onclick="@RestoreSnippetPackages">
            <i class="icon-cloud-download"></i> Restore Snippet Packages
        </button>
    }
    else
    {
        if (this.NuGetPackageManager.InstalledPackages.Any())
        {
            <h2>Installed Packages</h2>

            @foreach (var package in this.NuGetPackageManager.InstalledPackages)
            {
                <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 2px;">
                    <span class="font-weight-bold" style="overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 250px" title="@package.Name">@package.Name</span>
                    <span>@package.Version</span>
                </div>
            }
        }

        <div class="search-package-wrapper">
            <input @bind="@NuGetPackageName" class="form-control" style="display: inline-block; margin-right: 5px" />
            <button type="submit" class="btn btn-br-primary" @onclick="@GetNuGetPackages">
                <i class="icon-search2"></i>
            </button>
        </div>

        @if (string.IsNullOrEmpty(SelectedNuGetPackageName))
        {
            @foreach (var package in NuGetPackages)
            {
                <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 2px;">
                    <span class="font-weight-bold" style="overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 250px" title="@package">@package</span>
                    <button class="btn btn-br-primary" @onclick="@(() => SelectNuGetPackage(package))">
                        <i class="icon-download32"></i>
                    </button>
                </div>
            }
        }
        else
        {
            <label for="version-select">Version</label>
            <div class="search-package-wrapper">
                <select class="form-control" id="version-select" @bind="@SelectedNuGetPackageVersion" style="display: inline-block; margin-right: 5px;">
                    @foreach (var version in NuGetPackageVersions)
                    {
                        <option value="@version">@version</option>
                    }
                </select>
                <button class="btn btn-br-primary" @onclick="@PreparePackageToInstallAsync">
                    <i class="icon-download32"></i>
                </button>
            </div>
        }
    }
</div>
