<div class="nuget-sidebar" style="width: 20%">
    <div class="toast-header" style="margin-bottom: 20px">
        <h4 class="m-auto">Package Manager</h4>
    </div>

    <PackageLicensePopup Visible="@LicensePopupVisible"
                         PackagesToAcceptLicense="@PackagesToAcceptLicense"
                         OnAccept="@InstallNugetPackageAsync"
                         OnReject="@RejectLicenseAcceptance"></PackageLicensePopup>

    <input @bind="@NugetPackageName" class="form-control" style="width: 72%; display: inline-block; margin-bottom: 10px;" />
    <button type="submit" class="btn btn-primary" @onclick="@GetNugetPackages" style="width: 25%">Search</button>

    @if (string.IsNullOrEmpty(SelectedNugetPackageName))
    {
        @foreach (var nugetPackage in NugetPackages)
        {
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 2px;">
                <span style="font-weight: bold">@nugetPackage</span>
                <button class="btn btn-primary" @onclick="@(() => SelectNugetPackage(nugetPackage))">Install</button>
            </div>
        }
    }
    else
    {
        <label for="version-select">Version</label>
        <div>
            <select class="form-control" id="version-select" @bind="@SelectedNugetPackageVersion" style="width: 72%; display: inline-block; height: 37px;">
                @foreach (var version in NugetPackageVersions)
                {
                    <option value="@version">@version</option>
                }
            </select>
            <div style="width: 25%; display: inline-block;">
                <button class="btn btn-primary" @onclick="@PreparePackageToInstallAsync">Install</button>
            </div>
        </div>
    }
</div>
