<div class="static-assets-manager" style="@DisplayStyle">
    <div class="toast-header static-assets-manager-header">
        <h4 class="m-auto">Static Asset Manager</h4>
    </div>

    @if (ScriptUrlToFileNameMappings.Any())
    {
        <div>
            Scripts:
            @foreach (var (url, fileName) in ScriptUrlToFileNameMappings)
            {
                <div class="static-asset-container">
                    <span class="font-weight-bold static-asset" title="@url">@fileName</span>
                </div>
            }
        </div>
    }

    @if (StyleUrlToFileNameMappings.Any())
    {
        <div>
            Styles:
            @foreach (var (url, fileName) in StyleUrlToFileNameMappings)
            {
                <div class="static-asset-container">
                    <span class="font-weight-bold static-asset" title="@url">@fileName</span>
                </div>
            }
        </div>
    }

    <h5 class="text-center mt-3">Add</h5>
    <form class="search-static-assets-wrapper mt-1" @onsubmit="@AddStaticAssetAsync">
        <input @bind="@StaticAssetUrl" class="form-control manager-search-input" placeholder="JS/CSS file URL" />
        <button type="submit" class="btn btn-br-primary">
            <i class="icon-plus"></i>
        </button>
    </form>
</div>
