<div class="package-manager" style="@DisplayStyle">
    <div class="toast-header package-manager-header">
        <h4 class="m-auto">Static Asset Manager</h4>
        <span class="package-manager-close-btn" @onclick="@CloseInternalAsync">&times;</span>
    </div>

    @foreach (var asset in StaticAssets)
    {
        <div class="package-container">
            <span class="font-weight-bold package-title" title="@asset">@asset</span>
        </div>
    }

    <h5 class="text-center mt-3">Add</h5>
    <form class="search-package-wrapper mt-1" @onsubmit="@AddStaticAsset">
        <input @bind="@StaticAssetUrl" class="form-control" placeholder="CSS/JS file URL" />
        <button type="submit" class="btn btn-br-primary">
            <i class="icon-plus"></i>
        </button>
    </form>
</div>
